.planet:before {
  content: "";
  display: block;
  position: fixed;
  width: 1500px;
  aspect-ratio: 1;
  left: 100%;
  top: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-image: radial-gradient(at 50% 50% in oklch,
      color-mix(in oklch, skyblue, blue 80%),
      color-mix(in oklch, skyblue, blue 10%) 19%,
      color-mix(in oklch, skyblue, blue 20%) 20%,
      color-mix(in oklch, skyblue, blue 80%),
      color-mix(in oklch, blue, black 50%) 55%,
      transparent 70%);
}
